*,*::before,*::after{
    padding: 0;
    margin-right: 0;
    box-sizing: border-box;
}
    
    /* background */
body{
    font-family: "Poppins", sans-serif;
    background: rgb(206, 205, 205);
}

.bg-img{
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
    visibility:visible;
    box-sizing: border-box;
}

.bg-img > img{
    width: 100%;
    height: 100%;
}

.product-line{
    border-top: 3px solid #c4bdbd;
}

.bg-layer{
    background-color: #ffffff;
}

/* Navbar */
.navbar{
    z-index: 2;
    background-color: transparent;
    transition: all .3s ease;
}

.navbar-brand{
    padding-bottom: 5px;
}

.img-logo{
    width: 9rem;
    transition: all .3s ease;
}

.img-logo:hover{
    scale: 1.1;
    transform: rotate(2deg);
}

.nav-border{
    padding-left: 6px;
    border-left: 2px solid #b9b8b893;
}

.nav-item{
    margin: 0 .25rem 0 .25rem;
    padding: 0 .25rem 0 .25rem;
    border-radius: 6px;
    transition: all .3s ease;
}

.nav-item:hover{
    background-color: #6a8ebd94;
}

.nav-link{
    color: white;
}

.cart{
    visibility: visible;
    position: absolute;
    right: 80px;
}

.cart a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.profil-user{
    visibility: visible;
    position: absolute;
    right: 20px;
    width: 45px;
    height: 45px;
    background-color: #272727;
    border: 2px solid rgba(182, 181, 181, 0.712);
}

.profil-user .fa-user{
    color: #eaeaea;
    font-size: 1.20rem;
}

.border{
    border-radius: 12px 0 0 12px;
}

.search .border:focus{
    outline: 2px solid rgb(107, 107, 255);
}

.form-control:focus{
    box-shadow: none;
}

.search > .btn{
    border-radius: 0 12px 12px 0;
    border-left: 1px solid #25252590;
}

.search{
    margin-right: 110px;
}

/* wrapper */
.wrapper{
    height: 60vh;
}


/* dropdown menu */
.dropdown-item .bi{
    font-size: 1.2rem;
}

/* main */
.main{
    overflow: hidden;
    background-color: #f5f5f5;
    border-top-right-radius: 70px;
    border-top-left-radius: 70px;
}

.about-us .judul{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

.about-us .logo .text-about-us{
    font-size: 18px;
}

.btn-click:active{
    scale: .95;
}

.slogan{
    text-align: center;
    margin-top: 150px;
    color: white;
}

.product-menu{
    margin-top: 5rem;
}

.product-menu .item{
    color: white;
    text-decoration: none;
    width: 17.5%;
    cursor: pointer;
}

.product-menu .item i {
    font-size: 2rem;
}

.product-menu .item span{
    font-size: 1.2rem;
}

.item:hover{
    outline: 2px solid #c4bdbd;
}

/* about us */

.logo img{
    width: 20%;
}

/* carousel */
.carousel{
    padding-top: 80px;
    margin-top: 50px;
    margin-bottom: 100px;
}

swiper-slide img{
    border-radius: 12px;
}

.mySwiper{
    cursor:grab;
}

/* main menu */
.icon-judul{
    font-size: 1.75rem;
}

.diskon{
    font-size: 2rem;
    font-weight: 700;
}

/* footer */
.footer {
    box-sizing: border-box;
  background-color: #333;
  border-bottom: 1px solid #222;
}

.footer h5 {
  font-weight: bold;
}

.social .icon-text a {
    text-decoration: none;
}

.social > .icon-text > a:hover > span, .social > .icon-text > a:hover > div > i {
    color: rgb(182, 182, 182);
}



/* breakpoint */

@media screen and (max-width: 992px) {
    .logo img{
        width: 20%;
    }

    .navbar{
        background-color: #86B6F6;
        transition: all .3s ease;
    }

    .slogan{
        margin-top: 7rem;
    }

    .nav-border{
        border: 0;
        padding-left: 0;
    }

    .nav-item{
        margin-top: .25rem;
    }

    .profil-user{
        position: unset;
    }

    .img-logo{
        width: 10rem;
    }

    .search{
        margin-right: 0;
    }

    .dropdown-menu{
        background-color: #eaeaea88;
    }

    .dropdown-item .bi{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    .wrapper{
        height: 35vh;
    }
    .bg-img{
        height: 40vh;
    }
    .product-menu{
        display: none;
    }
    
}

@media screen and (max-width: 576px) {
    .about-us .judul{
        font-size: 30px;
    }

    .carousel{
        margin-top: 70px;
    }

    .wrapper{
        height: 20vh;
    }
   .bg-img{
        height: 25vh;
    }
}